<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% load staticfiles %}
{% block meta%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
{% endblock %}
{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".DeleteNews").click(function(event){
                var newsId = $(this).parents('.articleContainer').attr('id');
                var deleteUrl="/news/delete/"+newsId+"/";
                var to_hide = $(this).parents('.articleContainer');
                $.ajax({
                    type:"POST",
                    url: deleteUrl,
                    success: function(result) {
                        $(to_hide).hide();
                    }
                });
            });

            $(".NewsLink").click(function(event){
                var newsId = $(this).parents('.articleContainer').attr('id');
                var readUrl="/news/read/"+newsId+"/";
                var to_change_color = $(this);
                $.ajax({
                    type:"POST",
                    url: readUrl,
                    success: function(result) {
                        $(to_change_color).css('color', '#000');
                    }
                });
            });
        });
    </script>
{% endblock %}
<title>{% block title %}Hackers News{% endblock %}</title>
</head>
<body style="width:100%;">
<div class="container">
    {% block user_links %}
    <div class="links nav navbar-nav" style="width:100%;display:block;text-align: center;">
        {% if request.user.is_active %}
            <span class="user_logout_link"><a href="{% url 'logout' %}">Logout</a></span>
            <span class="all_news"><a href="{% url 'news_list' %}">All News</a></span>
        {% else %}
            <span class="user_login_link"><a href="{% url 'login' %}">Login</a></span>
            <span class="user_sign_up_link"><a href="{% url 'sign_up' %}">Sign Up</a></span>
            <span class="home_link"><a href="{% url 'home' %}">Home</a></span>
        {% endif %}
    </div>
    {% endblock %}

    {% block all_news %}
    {% endblock %}

    {% block user_login %}
    {% endblock %}

    {% block user_sign_up %}
    {% endblock %}

    {% block home %}
    {% endblock %}
</div>
</body>
</html>
